/* You can add global styles to this file, and also import other style files */
@import url(./styles/reset.scss);
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@import '~swiper/css';


* {
  font-family: 'Quicksand', sans-serif;

}
body{
  margin: 20px;
}

.products--grid{
  app-img{
    img{
      border-radius: 12px;
    }
  }
}

//Tablet
@media screen and (min-width: 40em) and (max-width: 63.9em){

}

//Web
@media screen and (min-width: 64em){

}
